
// Colors

$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

$white:#ffffff;

$light-green: #B0E4E4;
$green: #004747;

$olive-green-80: #2E5264;
$olive-green-100: #232A32;


$body-font-size: 1.125rem;
